MYSQL_DATABASE=name_of_data_base
MYSQL_USER_NAME=user_name
MYSQL_ROOT_PASSWORD=user_password
SQL_HOST_NAME=localhost
SQL_LOCAL_PORT=Sql_local_port
SQL_DOCKER_PORT=Sql_docker_port
SPRING_DATASOURCE_URL=Spring_data_Source_URL

JWT_SECRET=JWT_SECRET
JWT_EXPIRATION=JWT_EXPIRATION
SPRING_LOCAL_PORT=SPRING_local_port
SPRING_DOCKER_PORT=Spring_Docker_port
DEBUG_PORT=Debug_port